# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
yarn.log
yarn.lock
package-lock.json
package.json
dist

server/node_modules
server/data/
server/data/gifts.json
server/data/videos.json
/data/gifts.json
data/gifts.json
/data/videos.json
data/videos.json
server/data/*

